<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Read CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/signup.css}">
    <!-- Read JS -->
    <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
    <title th:text="#{user.signup.title}"></title>
</head>
<body class="bg-light">
<form id="signup-form" th:action="@{/user/signup}" method="post"
      class="form-signup" th:object="${signupForm}">
    <h1 class="text-center" th:text="#{user.signup.title}">User Signup</h1>
    <!--    User ID-->
    <div class="form-group">
        <label for="userId" th:text="#{userId}">User ID</label>
        <input type="text" class="form-control" th:field="*{userId}" th:errorclass="is-invalid"/>
        <div class="invalid-feedback" th:errors="*{userId}"></div>
    </div>
    <!--    Password-->
    <div class="form-group">
        <label for="password" th:text="#{password}">Password</label>
        <input type="text" class="form-control" th:field="*{password}" th:errorclass="is-invalid">
        <div class="invalid-feedback" th:errors="*{password}"></div>
    </div>
    <!--    UserName-->
    <div class="form-group">
        <label for="userName" th:text="#{userName}">User Name</label>
        <input type="text" class="form-control" th:field="*{userName}" th:errorclass="is-invalid">
        <div class="invalid-feedback" th:errors="*{userName}"></div>
    </div>

    <!--    Birthday-->
    <div class="form-group">
        <label for="birthday" th:text="#{birthday}">Birthday</label>
        <input type="text" class="form-control" placeholder="dd/MM/yyyy"
               th:field="*{birthday}" th:errorclass="is-invalid">
        <div class="invalid-feedback" th:errors="*{birthday}"></div>
    </div>

    <!--    Age-->
    <div class="form-group">
        <label for="age" th:text="#{age}">Age</label>
        <input type="text" class="form-control" th:field="*{age}" th:errorclass="is-invalid">
        <div class="invalid-feedback" th:errors="*{age}"></div>
    </div>


    <!--    Gender-->
    <div class="form-group">
        <div th:each="item: ${genderMap}" class="form-check-inline">
            <input type="radio" class="form-check-input"
                   th:value="${item.value}" th:field="*{gender}" th:errorclass="is-invalid">
            <label class="form-check-label" th:text="${item.key}">Gender</label>
        </div>
        <div class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
    </div>
    <!--    Signup button-->

    <input type="submit" th:value="#{user.signup.btn}" class="btn btn-primary w-100 mt-3"/>

</form>
</body>
</html>