<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Read CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
    <!-- Read JS -->
    <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
    <title> Login</title>
</head>
<body class="bg-light">
    <div class="text-center">
        <form action="#">
            <h2>Login</h2>
<!--            User ID-->
            <div class="form-group">
                <label for="userId">userId</label>
            </div>
<!--            Password-->
            <div class="form-group">

            </div>
            <input type="submit" value="Login">
        </form>
        <a href="">Signup</a>
    </div>
</body>
</html>